<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

        <head th:fragment="header (pageTitle)">


            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
                  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>

            <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="/static/style.css"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:400,700" rel="stylesheet"/>


        </head>
        <body>

        <!--navbar for landing page-->
        <nav th:fragment="navbar" id="myNavbar" class="navbar navbar-light navbar-expand-sm">
            <a href="/"><img id="logo" th:src="@{/img/safari.svg}" src="/static/img/safari.svg" height="55" width="55"
                             alt=""/><span
                    id="logo-text">ORIENTEER</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-5">

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#register">Register</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/aboutUs">About us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--navbar for dashboard without home button-->


        <!--navbar for multiple app views that isn't the dashboard-->
        <nav th:fragment="appNav" id="myAppNav" class="navbar navbar-light navbar-expand-sm position-fixed">


        </nav>


        <!--bootstrap javascript-->
        <div th:fragment="bootstrap" th:remove="tag">
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

            <script type="text/javascript" th:src="@{/javascript/js.js}" src="static/javascript/js.js"></script>
        </div>


        <footer th:fragment="homeFooter" id="home-footer" class=" pt-1 mt-2">
            <div class="container-fluid text-md-left text-center-sm">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-4">
                        <hr class="mt-1 mx-0 w-50"/>
                    </div>
                </div>
            </div>
            <div id="home-footer-bottom" class="text-light text-center py-3">© 2018 Copyright:
                <a href="#"> Team Orienteer</a>
            </div>
        </footer>

        <footer th:fragment="loginFooter" id="home-footer" class=" pt-1 mt-2">
            <div class="container-fluid text-left text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-4">
                        <hr class="mt-1 mx-0 w-50"/>
                    </div>
                </div>
            </div>
            <div id="home-footer-bottom" class="text-light text-center py-3">© 2018 Copyright:
                <a href="#"> Team Orienteer</a>
            </div>
        </footer>

        <!-- Dashboard footer with controls -->
        <footer th:fragment="dashFooter" id="myDashFooter" class="page-footer font-small pt-2 fixed-bottom">

            <div class="container mx-auto">
                <a class="mx-2 ml-2 inline" href="/geocache/list">
                    <img class="icon mb-1" th:src="@{/img/list.svg}" src="/static/img/list.svg" alt=""/>
                </a>
                <a class="mb-3 ml-4 inline" th:href="@{'/profile/'+${#authentication.principal.id}}">
                    <img class="icon mb-1" th:src="@{/img/explorer.svg}" src="/static/img/explorer.svg" alt=""/>
                </a>
                <!--<a href="#" data-toggle="modal" data-target="#geocacheModal" class="mb-3 ml-5 inline">-->
                <img id="pin" th:src="@{/img/pin.svg}" src="/static/img/pin.svg" alt="" class="mb-1"/>
                <!--</a>-->
            </div>
            <div>
                <p class="inline dash-link1">List</p>
                <p class="inline dash-link2">Profile</p>
            </div>

        </footer>
        <!--footer for homepage-->
    </body>

</html>