<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Portfolio</title>
</head>
<body>

<h1>Here are My projects</h1>

<dl>
    <dt>Weather Map:</dt>
    <hr/>
    <dd>
        Using AJAX request I managed to pull
        data from two different APIs.
        I used the Google maps API for the geolocation feature,
        which allows the user to drag
        and drop a marker on a specific locational coordinates.
        Then rendered the data for the user to view.
    </dd>
    <br/>
    <dt>Coffee Project:</dt>
    <hr/>
    <dd>
        With a team we created a fully
        featured coffee shop. This application
        allows users to choose a specific type
        of coffee and allows them to search
        through the already established
        inventory list.

    </dd>
    <br/>
    <dt>Ad lister database:</dt>
    <hr/>
    <dd>
        This was a model of a Craigslist clone.
        I worked with a group to develop a
        mobile responsive website that allows
        the user to register with a simple form.
        This application also allows existing users to create,
        delete, and modify existing ad posts.
    </dd>
</dl>

</body>
</html>